.Main {
    display: flex;
    justify-content: baseline;  
    align-items: center;  
    height: 100vh;  
    background: lightgray;    
    width: 300px;
    height: 300px;
    transform: translate(15%,75%);
    text-align: center;
    background-color: #f8f8f8; 
    flex-direction: column;
}

.alteracoes {
    text-align: center;
    margin-bottom: 20px;
}

.opcoes{
    padding-left: 50px;
    padding-top: 20px;
    display: flex;
    transform: scale(1.2);
}

.h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.inputtexto{
    width: 250px;
    height: 40px;
    background-color: rgba(224, 226, 232, 1);

}

.inputemail{
    width: 250px;
    height: 40px;
    background-color: rgba(224, 226, 232, 1);

}

.inputdata{
    width: 252px;
    height: 40px;
    background-color: rgba(224, 226, 232, 1);
}

.botoes {
    padding-top: 20px;
    border: none;
    
}
.botao{
    border: none;
    ;
}





